.wrapper{
    border-radius: 30px;
    max-width: 335px;
    width: 100%;
    height: 394px;
    background-color: var(--white);
    padding: 40px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close{
   position: absolute;
   top: 20px;
   right: 20px;
}

.dog_wrapper{
   width: 80px;
   height: 80px;
   border-radius: 100%;
   background-color: var(--light-yellow);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

.title{
   
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--yellow);
    margin-bottom: 20px;
}

.text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 24px;
}

.btn_wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 272px;
   
}

.btn_log{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    max-width: 135px;
    width: 100%;
    height: 42px;
    background-color: var(--yellow);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: var(--white);
}


.btn_reg{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    max-width: 129px;
    width: 100%;
    height: 42px;
    background-color: var(--light-yellow);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: var(--yellow);
}

@media(min-width: 768px){
    .wrapper{
        width: 466px;
        max-width: none;
        height: 434px;
        padding: 60px;
    }
    .title{
        font-size: 24px;
        line-height: 1.1;
    }
    .text{
        margin-bottom: 28px;
    }
    .btn_wrapper {
        max-width: 288px;
    }
    .btn_log,
    .btn_reg
    {
        width: 140px;
        max-width: none;
        height: 48px;
        font-size: 16px;
        line-height: 1.25;
    }
}