.btn{
   border-radius: 30px;
   width: 103px;
   height: 38px;
   background-color: var(--yellow);
   color: var(--white);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.28;
   letter-spacing: -0.03em;
   display: flex;
   align-items: center;
   justify-content: center;

}