.btn{
   border-radius: 30px;
   width: 103px;
   height: 38px;
   background-color: var(--yellow);
   color: var(--white);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.28;
   letter-spacing: -0.03em;
   display: flex;
   align-items: center;
   justify-content: center;

}

.wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

.title{
   font-weight: 700;
   font-size: 16px;
   line-height: 1.25;
   color: #2b2b2a;
}

@media(min-width: 768px){
   .title{
      font-size: 18px;
      line-height: 1.33;
   }
   .btn{
      width: 118px;
      height: 40px;
      font-size: 16px;
      line-height: 1.25;
   }

}