.eyeIcon {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 18px;
    height: 18px;
    background-color: var(--white);
}

.eyeIcon svg {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .eyeIcon{
        width: 22px;
        height: 22px;
        top: 15px;
        right: 16px;
    }
}