.list{
    display: flex;
    flex-direction: column;
    gap: 24px; 
}

@media (min-width: 768px){
    .list{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 24px;
    }
}

@media (min-width: 1280px) {
    .list{
        gap: 40px 35px;
    }
}