.wrapper{
    max-width: 335px;
    height: auto;
}

.image{
    border-radius: 15px;
    max-width: 335px;
    width: 100%;
    height: 190px;
}

.content{
    margin-top: 20px;
}

.title{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.03em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text{
    margin-top: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;    
    overflow: hidden;
    text-overflow: ellipsis;
}

.date_wrapper{
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
}

.date{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.5);
}

.read_more{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--yellow);
}

@media (min-width: 768px) {
    .wrapper{
        max-width: 340px;
        height: 476px;
        position: relative;
    }
    .image {
        max-width: 340px;
        height: 226px;
    }
    .content{
        margin-top: 28px;
        width: 340px;
        
    }
    .title{
        font-size: 20px;
        line-height: 1.3;
    
    }
    .text{
        margin-top: 14px;
        font-size: 16px;
        line-height: 1.25;
        height: 80px;
    }

    .date{
        font-size: 16px;
        line-height: 1.25;
    }
    .read_more{
        font-size: 16px;
        line-height: 1.25;
    }
    .date_wrapper {
        margin-top: 28px;
        position: absolute;
        bottom: 28px;
        left: 0;
        right: 0;
            
    }
        

}


@media (min-width: 1280px){
    .wrapper {
        width: 361px;
        max-width: 361px;
        height: 476px;
    }
    .image {
        max-width: 361px;
        height: 226px;
    }
    .content {
        width: 361px;
    }
}