.wrapper{
    border-radius: 30px;
    max-width: 335px;
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding: 18px 20px 40px 20px;
}

.btn_wrapper{
    display: flex;
    justify-content: flex-end;
}

@media(min-width: 768px){
    .wrapper {
        border-radius: 60px;
        max-width: none;
        width: 704px;
        padding: 40px ;
    }
        
}

@media(min-width: 1280px) {
    .wrapper {
        width: 520px;
    }

}