.error{
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #ef2447;  
    position: absolute;
    top: 100%;
    left: 12px;
    margin-top: 2px;
}

@media (min-width: 768px) {
    .error{
        font-size: 12px;
        left: 16px;
        line-height: 1.16;
    }
}