.wrapper{
    max-width: 335px;
    width: 100%;
    height: 378px;
    background-color: var(--light-yellow);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.select_wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    
}

.select_type{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    max-width: 295px;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    background-color: var(--white);
    border-radius: 30px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    appearance: none;
    outline: none; 
}

.placeholder{
    display: none;
}


.sortButtons{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}

.line{ 
    background: rgba(38, 38, 38, 0.1);
    max-width: 295px;
    width: 100%;
    height: 1px;
}

.not_active{
    border-radius: 30px;
    padding: 12px;
    width: 90px;
    height: 42px;
    background-color: var(--white);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
}

.active{
    border-radius: 30px;
    padding: 12px;
    width: 90px;
    height: 42px;
    background-color: var(--yellow);
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
}


.select_loc {
    position: relative;
    max-width: 295px;
    width: 100%;
}

.select {
    border-radius: 30px;
    padding: 10px;
    max-width: 143px;
    width: 100%;
    height: 42px;
    background: var(--white);
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
}

.select_wrapper_small{
    display: flex;
    gap: 8px;
    width: 100%;
}

@media(min-width: 768px){
    .wrapper {
        max-width: none;
        width: 704px;
        height: 280px;
        border-radius: 30px;
        padding: 40px 32px;   
        gap: 20px;
        margin-top: 44px;
    }
    .select_wrapper {
        gap: 16px;  
    }
    .select{
        width: 170px;
        max-width: none;
        height: 48px;
    }
    .select_type{
        width: 190px;
        height: 48px;
        max-width: none;
    }
    .select_loc {
        width: 227px;
        max-width: none;
    }
    .select_wrapper_small {
        width: auto;
        gap: 16px;
    }
    .line{
        max-width: 640px;
       
    }

}

@media(min-width: 1280px){
    .wrapper{
        width: 1216px;
        height: 216px;
        padding: 40px;
        margin-top: 40px;
    }
    .line{
        max-width: 1136px;
    }
}