.wrapper{
    max-width: 335px;
    height: 378px;
    background-color: var(--light-yellow);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.select_wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.select_type{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    max-width: 295px;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    background-color: var(--white);
    border-radius: 30px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    appearance: none;
    outline: none; 
}

.placeholder{
    display: none;
}


.sortButtons{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}

.line{ 
    background: rgba(38, 38, 38, 0.1);
    max-width: 295px;
    width: 100%;
    height: 1px;
}

.not_active{
    border-radius: 30px;
    padding: 12px;
    width: 90px;
    height: 42px;
    background-color: var(--white);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
}

.active{
    border-radius: 30px;
    padding: 12px;
    width: 90px;
    height: 42px;
    background-color: var(--yellow);
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
}


.select_loc {
    position: relative;
    max-width: 295px;
    width: 100%;
}
