.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar{
    border-radius: 100px;
    padding: 10px;
    width: 94px;
    height: 94px;
}

.edit_wrapper{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 10px;
    
}

.info_wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    border: 1px solid #f6b83d;
    border-radius: 30px;
    padding: 12px ;
    width: 295px;
    height: 42px;
}