.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.avatar{
    border-radius: 100px;
    padding: 10px;
    width: 94px;
    height: 94px;
}

.edit_wrapper{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 10px;
    
}

.info_wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    border: 1px solid #f6b83d;
    border-radius: 30px;
    padding: 12px ;
    width: 295px;
    height: 42px;
}

@media(min-width: 768px){
    .avatar{
        width: 110px;
        height: 110px;
    }
    .info_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 14px;
    }
    .info {
        font-size: 16px;
        line-height: 1.25;
        padding: 16px;
        width: 305px;
        height: 52px;
    }
    .title{
        margin-bottom: 20px;
        align-self: flex-start;
        font-size: 18px;
        line-height: 1.33;
    }
    
        
}

@media(min-width: 1280px) {
    .info_wrapper {
        flex-direction: column;
    }
     .info {
        width: 440px;
    }
}
