.container {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

@media (min-width: 375px) {
    .container {
        max-width: 360px; 
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        
    }
}

@media (min-width: 1280px) {
    .container {
        width: 100%;
    }
}