.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 375px;
    
}

@media (min-width: 768px) {
    .container {
        padding: 0 32px;
        max-width: 768px;

       
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}