.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

@media (min-width: 768px) {
    .wrapper {
        gap: 16px;
        padding: 32px 0;
    }
}

@media (min-width: 1280px) {
    .wrapper {
        flex-direction: row;
        justify-content: center;
        gap: 32px;
    }
}