.wrapper{
    background-color: var(--white);
    border-radius: 30px;
    max-width: 335px;
    height: 422px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 20px;
}

.wrapper_title{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.form{
    width: 100%;   
}

.inputGroup{
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;   
}

.inputWrapper{
    position: relative;
    width: 100%;   
}

.input{
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    padding: 12px;
    width: 100%;
    height: 42px;   
}

.input::placeholder{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: rgba(38, 38, 38, 0.5);
}

.btn{
    margin-top: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 295px;
    height: 42px;
    border-radius: 30px;
    background-color: var(--yellow);
}

.question{
    margin-top: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    color: rgba(38, 38, 38, 0.5);
}

.register{
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #f6b83d;
}

@media (min-width: 768px){
    .wrapper{
        padding: 71px 140px;
        max-width: 704px;
        height: 560px;
        border-radius: 60px;
    }
    .wrapper_title{
        gap: 16px;
    }
    .text{
        font-size: 18px;
        line-height: 1.22;
    }
    .form{
        width: 424px;
    }
    .inputGroup{
        margin-top: 32px;
        gap: 16px;
    }
    .input{
        padding: 16px;
        height: 52px;
    }
    .btn{
       margin-top: 64px; 
       max-width: 424px;
       height: 52px;
       font-size: 16px;
       line-height: 1.25;
    }
    .question{
        margin-top: 16px;
        font-size: 14px;
        line-height: 1.42857;
    }
    
    
}

@media (min-width: 1280px) {
   .wrapper{
        padding: 114px 84px;
        max-width: 592px;
        min-height: 654px;
   }
}