.wrapper{
    padding: 50px 0 80px 0;
}

@media(min-width: 768px){
    .wrapper {
            padding: 85px 0 85px 0;
        }
}


@media(min-width: 1280px) {
    .wrapper {
        padding: 96px 0 80px 0;
    }
}
