.main{
    background-image: url('../../assets/images/main/main-mob.webp') ;
    background-size: cover;
    height: 812px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


 

@media (max-width: 767px) and (min-resolution: 192dpi) {
    .main {
        background-image: url('../../assets/images/main/main2x-mob.webp');
    }
}

@media  (min-width: 768px) {
    .main{
        background-image: url('../../assets/images/main/main-tab.webp');
        height: 1024px;
        
    }       
}

@media  (min-width: 768px) and (min-resolution: 192dpi) {
    .main {
        background-image: url('../../assets/images/main/main2x-tab.webp');
    }
}

@media  (min-width: 1280px) {
    .main {
        background-image: url('../../assets/images/main/main.webp');
        height: 800px;
        
    }      
 
}

  @media  (min-width: 1280px) and (min-resolution: 192dpi) {
      .main {
       
          background-image: url('../../assets/images/main/main2x.webp');
      }
  }