.wrapper{
    margin: 18px 0;
}

@media(min-width: 768px) {

    .wrapper {
        margin: 32px 0;
    }

}


@media(min-width: 1280px) {

    .wrapper{
       display: flex;
       gap: 32px;
    }

}