.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow-y: auto;
}

.modal {
    position: relative;
    overflow-y: auto;
    border-radius: 12px;
    width: 90%;
    max-width: 335px;
    box-sizing: border-box;
    padding: 0;
}