.search_wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

@media (min-width: 768px){
    .search_wrapper{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 44px;
    }
}

@media (min-width: 1280px) {
    .search_wrapper {
        margin-bottom: 60px;
    }
}