.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 768px) {
    .list{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 1280px) {
    .list {
        gap: 28px 20px;
    }
}