.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    width: 100%;
    position: relative;
    z-index: 2;
    
    
}

@media(min-width:768px){
    .wrapper {
        padding-top: 32px;  
       
    }
     
}

@media(min-width:1280px) {
    .wrapper {
        padding-top: 32px;
       
    }

}