.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    
    
}

@media(min-width:768px){
    .wrapper {
        padding-top: 32px;  
        gap: 271px;
    }
     
}

@media(min-width:1280px) {
    .wrapper {
        padding-top: 32px;
        gap: 313px;
    }

}