.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    position: relative;
    z-index: 2;
    
    
    
}

@media(min-width:768px){
    .wrapper {
        padding-top: 32px;  
        padding-right: 32px;
        padding-left: 32px;
       
    }
     
}

@media(min-width:1280px) {
    .wrapper {
        padding-top: 32px;
        padding-right: 64px;
        padding-left: 64px;
       
    }

}