.link{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 8px;
}

.icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--light-yellow);
}

.name{
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.03em;
}

@media(min-width: 768px){
    .icon{
        width: 50px;
        height: 50px;
    }
}