

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 178px;
    height: 42px;
    background-color: var(--yellow);
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    text-transform: uppercase;

}

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 178px;
    height: 42px;
    background-color: var(--light-yellow);
    color: var(--yellow);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    text-transform: uppercase;

}

@media(min-width: 768px) {
    .list {
        flex-direction: row;
    }
    .login {
        width: 119px;
        height: 50px;
        font-size: 16px;
        line-height: 1.25;
    }
    .register {
        width: 149px;
        height: 50px;
        font-size: 16px;
        line-height: 1.25;
    }
}

@media(min-width: 1280px){
    .list {
         margin-bottom: 0;
    }
}