.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 178px;
    height: 42px;
    background-color: var(--yellow);
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    text-transform: uppercase;

}

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 178px;
    height: 42px;
    background-color: var(--light-yellow);
    color: var(--yellow);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    text-transform: uppercase;

}