.burger svg path {
    stroke: #262626;
   
}

.wrapper.home .burger svg path {
    stroke: #ffffff;
   
}

.burger {
    background-color: inherit;

}

.menuWrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 218px;
    height: 100vh;
    background-color: var(--white);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuWrapper.open {
    transform: translateX(0);
}

.close {
    background-color: var(--white);
    position: absolute;
    top: 28px;
    right: 20px;

}

 .btn_wrapper {
     display: flex;
     justify-content: center;
 }


@media(min-width: 768px) {
    .burger {
        width: 36px;
        height: 36px;
        padding-top: 0;
    }

    .menuWrapper {
        width: 374px;

    }

    .close {
        top: 39px;
    }   
   
    }
