.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 38px;
    height: 38px;
    background-color: var(--light-yellow);
}

.user_photo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 94px;
    height: 94px;
    
}

.user_photo svg{
    width: 40px;
    height: 40px;
}

.text{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    background-color: var(--white);
    width:auto;
}

@media(min-width: 768px){
    .user_photo{
        width: 110px;
        height: 110px;
    }
    .text{
        font-size: 14px;
        line-height: 1.28;
    }
}
