.wrapper{
    border: 1px solid rgba(38, 38, 38, 0.1);
    border-radius: 20px;
    max-width: 295px;
    width: 100%;
    height: 132px;
    padding: 16px;
    position: relative;
    display: flex;
    gap: 14px;
  

}

.content_wrapper{
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 153px;
  width: 100%; 
}

.delete_btn{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--light-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    border-radius: 100px;
    width: 66px;
    height: 66px;
    object-fit: cover;
}

.title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
}

.info{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.info_div{
    display: flex;
    flex-direction: column;
    gap:4px;
}

.info_key{
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.5);
}

.info_value{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
}

@media(min-width: 768px){
    .wrapper{
        max-width: none;
        width: 305px;
        height: 149px;
        padding: 22px 16px;     
    }
    .content_wrapper {
        max-width: 173px;
    }
    .delete_btn{
        width: 32px;
        height: 32px;
    }
    .img{
        width: 75px;
        height: 75px;
    }
  
}

@media(min-width: 1280px) {
    .wrapper {
        width: 440px;
        height: 130px;
        padding: 20;
    }

    .content_wrapper {
        max-width: none;
    }

    .delete_btn {
        width: 38px;
        height: 38px;
    }

    .img {
        width: 90px;
        height: 90px;
    }
    .info {
        gap: 25px;
    }
}