.wrapper{
    border: 1px solid rgba(38, 38, 38, 0.1);
    border-radius: 20px;
    max-width: 295px;
    width: 100%;
    height: 132px;
    padding: 16px;
    position: relative;
  

}

.img_wrapper{
  display: flex;
}

.delete_btn{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--light-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    border-radius: 100px;
    width: 66px;
    height: 66px;
}

.title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
}

.info{
    display: flex;
    flex-wrap: wrap;
}

.info_key{
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: rgba(38, 38, 38, 0.5);
}

.info_value{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
}