.wrapper{
    border-radius: 30px;
    max-width: 335px;
    width: 100%;
    height: 270px;
    background-color: var(--white);
    padding:  40px 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.btn_close{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--white);
    width: 24px;
    height: 24px;

}

.cat_wrapper {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--light-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.text{
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-bottom: 28px;
}

.btn_wrapper{
    display: flex;
    width: 100%;
    gap: 8px;
}

.btn_yes{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    max-width: 137px;
    width: 100%;
    height: 42px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    background-color: var(--yellow);
    color: var(--white);

}

.btn_cancel{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    max-width: 134px;
    width: 100%;
    height: 42px;
    background-color: rgba(38, 38, 38, 0.05);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;

}


@media(min-width: 768px){
    .wrapper {
        max-width: none;
        width: 448px;
        height: 364px;
        padding: 80px;
    }
    .text{
        font-size: 24px;
        line-height: 1.16;
    }
    .btn_yes, 
    .btn_cancel {
        max-width: none;
        width: 140px;
        height: 48px;
        font-size: 16px;
        line-height: 1.25;
    } 
}   