* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #262626;
    --yellow:#F6B83D;
    --light-yellow: #FFF4DF;
    --white: #FFFFFF;
}

body {
    font-family: "Manrope", sans-serif;
    color: var(--black);
    background-color: #f9f9f9;;

}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    color: inherit;
    border: none;
}

button:focus {
    outline: none;
}