.wrapper{
    padding: 40px 0 56px 0;
    display: flex;
    flex-direction: column;
}

.tabs{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

}

.tab{
    border-radius: 30px;
    width: 123px;
    height: 42px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
}

.active{
    border-radius: 30px;
    width: 123px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--yellow);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
}

.span{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: var(--yellow);
}


.text{
    margin-top: 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
}


@media(min-width: 768px){
    .wrapper{
      padding: 32px 0 60px 0;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .tabs {
        gap: 8px;
        margin-bottom: 20px;
    }
    .tab,
    .active
    {
        width: 142px;
        height: 48px;
        font-size: 16px;
        line-height: 1.25;
    }
}

@media(min-width: 1280px){
    .tabs {
        margin-bottom: 32px;
    }
    .content {
        gap: 24px;
    }
      
}