.hero {
    background-color: var(--yellow);
    border-radius: 30px;
    position: relative;
    z-index: 1;
    padding: 118px 20px 50px 20px;
    margin-top: -80px;
    height: 390px;
}

.title{
    font-weight: 700;
    font-size: 50px;
    line-height: 0.96;
    letter-spacing: -0.03em;
    color:var(--white);
    margin-bottom: 24px;

}

.title span{
    color: rgba(255, 255, 255, 0.4);
}

.text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: var(--white);
}

@media(min-width:768px){
    .hero {
        border-radius: 60px;
        padding: 178px 32px 44px 32px;
        height: 496px;
    }
    .title{
        font-size: 80px;
        margin-bottom: 32px;
    }
    .text{
        max-width: 255px;
        font-size: 18px;
        line-height: 1.22;
        margin-left: auto;
    }
}


@media(min-width:1280px) {
    .hero{
        height: 384px;
        display: flex;
        justify-content: space-between;
        align-items:baseline;
        padding: 178px 64px 32px 64px;
    }
    .title{
        font-size: 90px;
        line-height: 0.96;
        max-width: 760px;
    }
}