.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%; 
}

.burger {   
    background-color: inherit;
    
}

.menuWrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 218px;
    height: 100vh;
    background-color:var(--white);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menuWrapper.open {
    transform: translateX(0);
}

.close {
    background-color: var(--white);
    position: absolute;
    top: 28px;
    right: 20px;
    
}

.list {
    margin-top: 236px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
}

.navLink{
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    width: 119px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
}


.navLink.active{
    border: 1px solid #f6b83d;
}

.wrapper{
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
}

.auth_wrapper{
    padding-top: 32px;
}

@media(min-width: 768px){
    .burger{
        width: 36px;
        height: 36px;
        padding-top: 0;
    }
    .menuWrapper {  
        width: 374px;
       
    }
    .close{
        top: 39px;
    }
    .list {
        margin-top: 369px;
        
    }
    .navLink{
        width: 120px;
        height: 50px;
        font-size: 16px;
        line-height: 1.25;
    }
}

@media(min-width: 1280px){
    .menuWrapper{
        position:static;
        height: auto;
        z-index: 1001;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 142px;
        background-color: inherit;
       
    }

    .list{
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;      
    }
    .navLink {
        width: auto;
        padding: 15px 20px;
        white-space: nowrap;   
    }      
}