.wrapper{
    max-width: 335px;
    position: relative;
}

.input{
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    padding: 12px;
    width:100%;
    height: 42px;
   
}

.input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: rgba(38, 38, 38, 0.5);
}

.icon{
    position: absolute;
    top: 12px;
    right: 12px;
}

.closeIcon{
    position: absolute;
    top: 12px;
    right: 36px;
    width: 18px;
    height: 18px;
}


.icon svg {
    width: 100%;
    height: 100%;
}


@media (min-width: 768px) {
    .wrapper{
        max-width: 230px;
    }
    .input{
        padding: 14px;
        height: 48px;
    }
    .input::placeholder{
        font-size: 16px;
        line-height: 1.25;
    }
    .icon {
        top: 15px;
        right: 15px;
    }
    .closeIcon{
        top: 15px;    
    }
}
